<h1>Brands:</h1>

<h2>
<% @brands.each do |brand| %>
    <a href="/brands/<%= brand.id %>">
    <%= brand.name %>
    </a>
    <br>
<% end %>
</h2>
<br>
<br>
<h3><a href="/">Return to Garage</a></h3>

<h3><a href="/brands/new">Create New Brand</a></h3>