<!doctype html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>Motorcycle Garage</title>
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css"/>
  </head>
  <body class="body">

    <br>
    <br>
    <br>
    <h1><%= status %></h1>
    <br>
    <h1>Can't find the page you are looking for.</h1>

  </body>
</html>
