<!doctype html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>Motorcycle Garage</title>
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css"/>
  </head>
  <body class="body">

    <h1 class="header">WELCOME TO MOTORCYCLE GARAGE</h1>
    <br>
    <h2>
    <a href="/login">Login</a> or <a href="/signup">Signup</a>
    </h2>

  </body>
</html>
    