<!doctype html>
<html>
  <head>
    <title>Motorcycle Garage</title>
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <th><a href="/users/home">Home</a></th>
        <th><a href="/motorcycles">Motorcycles</a></th>
        <th><a href="/brands">Brands</a></th>
        <th><a href="/logout">Logout</a></th>
      </tr>
    </table>

    <%= yield %>
    
  </body>
</html>
