<!doctype html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>Motorcycle Garage</title>
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css"/>
  </head>
  <body class="body">

    <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius" style="color: white; background-color: red;">
        <%= flash[type] %>
        <a href="" class="close">&times;</a>
        </div>
    <% end %>

    <h1 class="header">LOGIN</h1>
    <h3><a href="/">Back</a></h3>
    <br>
    <h3>
        <form method="POST" action="/login">
            <input type="text" name="username" id="username" placeholder="Username:">
            <input type="password" name="password" id="password" placeholder="Password:">
            <input type="submit" value="Log In">
        </form>
    </h3>

  </body>
</html>
    